force-app/main/default/flows/Twilio_SendGrid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>265</locationX>
        <locationY>754</locationY>
        <actionName>TwilioSendGridMailSendServices</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>content</name>
            <value>
                <elementReference>TwilioSendGridContents</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>from_Z</name>
            <value>
                <elementReference>TwilioSendGridFrom</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalizations</name>
            <value>
                <elementReference>TwilioSendGridPersonalizations</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>TwilioSendGridResponseErrors</assignToReference>
            <name>errors</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>TwilioSendGridResponseId</assignToReference>
            <name>id</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>TwilioSendGridResponseStatus</assignToReference>
            <name>status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>TwilioSendGridResponseStatusCode</assignToReference>
            <name>statusCode</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Input_Variables_into_Apex_Def</name>
        <label>Assign Input Variables into Apex Def</label>
        <locationX>402</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>TwilioSendGridContent.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailContentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TwilioSendGridContent.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailContent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TwilioSendGridFrom.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailFrom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TwilioSendGridTo.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailTo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Variables_to_Collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_to_Collections</name>
        <label>Assign Variables to Collections</label>
        <locationX>187</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>TwilioSendGridContents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TwilioSendGridContent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TwilioSendGridTos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TwilioSendGridTo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Variables_to_Personalization</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_to_Peronalization_Collections</name>
        <label>Assign Variables to Peronalization Collections</label>
        <locationX>499</locationX>
        <locationY>724</locationY>
        <assignmentItems>
            <assignToReference>TwilioSendGridPersonalizations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TwilioSendGridPersonalization</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_to_Personalization</name>
        <label>Assign Variables to Personalization</label>
        <locationX>506</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>TwilioSendGridPersonalization.to</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TwilioSendGridTos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Variables_to_Peronalization_Collections</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Twilio SendGrid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Twilio SendGrid</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_Input_Variables_into_Apex_Def</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailContent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailContentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailFrom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TwilioSendGridContent</name>
        <apexClass>TwilioSendGridContent</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TwilioSendGridContents</name>
        <apexClass>TwilioSendGridContent</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TwilioSendGridFrom</name>
        <apexClass>TwilioSendGridFrom</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TwilioSendGridPersonalization</name>
        <apexClass>TwilioSendGridPersonalization</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TwilioSendGridPersonalizations</name>
        <apexClass>TwilioSendGridPersonalization</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TwilioSendGridResponseErrors</name>
        <apexClass>TwilioSendGridError</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TwilioSendGridResponseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TwilioSendGridResponseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TwilioSendGridResponseStatusCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TwilioSendGridTo</name>
        <apexClass>TwilioSendGridTo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TwilioSendGridTos</name>
        <apexClass>TwilioSendGridTo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
